@charset "UTF-8";

*{
    margin: 10px;
    padding: 10px;
}
html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.2em;
}
menu{
    display: none;
}
article::after{
    content: '(Arquivo para impressora)';
}