@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
header{
    background-color: darkgray;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.315);
    
}
header h1{
    text-align: center;
    padding: 5px
}
menu li{
    display: inline-block;
    padding: 10px;
    background-color: rgb(80, 79, 79);
    color: white;
    border-radius: 6px;
    margin-left: 5px;
    margin-bottom: 5px;
}
article{
    display:block;
    margin: auto;
    width: 500px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.267);
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.315);
}
article h2{
    text-align: center;
}
article p{
    margin-top: 7px;
    text-indent: 10px;
}
