@charset "UTF-8";

@media screen and (min-width: 768px){
    span#burger{
        display: none;
    }
    menu#itens{
        display: block;
    }
    menu > ul > li{
        display: inline-block;
        margin-bottom: 5px;
        margin-left: 5px;
    }
    main{
        width: 768px;
    }

}

