*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.root{
--Green: hsl(75, 94%, 57%);
--White: hsl(0, 0%, 100%);
--Grey-700: hsl(0, 0%, 20%);
--Grey-800: hsl(0, 0%, 12%);
--Grey-900: hsl(0, 0%, 8%);
}
body{
    font-family: "Inter", sans-serif;
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main{
    background-color: hsl(0, 0%, 12%);
    width: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 1rem;
}
img{
    border-radius: 50%;
    width: 70px;
}
h1{
    color: white;
    margin-top: 10px;
    font-size: 22px;
}
span{
    color: hsl(75, 94%, 57%);
    margin: 15px auto;
    font-size: 13px;
    display: block;
}
p{
    color: white;
    font-size: 14px;

}
.links a{
    display: block;
    margin: 20px 0 10px;
    color: white;
    border-radius: 0.5rem;
    text-align: center;
    background-color: hsl(0, 0%, 20%);
    height: 35px;
    align-content: center;
    text-decoration: none;
    transition: 0.3s ease;
}
.links a:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}

