@charset "UTF-8";

body {
    background-color: darkcyan;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20;
}

h1 {
    color: cyan;
}

h2 {
    color: lightskyblue;

}

p {
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    ;
}