*{
    margin: 0;
    padding: 0;
    
}
:root{

--Purple-700: hsl(257, 40%, 49%);
--Magenta-400: hsl(300, 69%, 71%);
}
body{
    background-image: url(images/bg-desktop.svg);
    background-size: cover;
    background-color: var(--Purple-700);
    color: white;
    
    

}
.logo img{
    width: 200px;
    margin: 30px 0 0 300px

}
.mockups{
    margin: 150px 0 0 0px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
article{
    width: 500px;
    height: 270px;
    margin-left: 50px;
}
.cabeca{
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    
    
}
h1{
    font-weight: 500;
    margin-bottom: 25px;

}
p{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    margin-bottom: 20px;
}
.botao {
    background-color: white;
    width: 170px;
    padding: 16px 20px 16px 20px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.342);
    
}
.botao a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: var(--Purple-700);
    font-weight: 300;

}
.botao:hover {
    background-color: var(--Magenta-400);
    
}
.botao:hover a{
    color: white;
}
li{
    list-style: none;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.sociais ul{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-right: 30px;

}
.social{
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: 2px solid white;
}

  
    

