*{
    margin: 0;
    padding: 0;
}
:root{

--Green-500: hsl(158, 36%, 37%);
--Green-700: hsl(158, 42%, 18%);


--Black: hsl(212, 21%, 14%);
--Grey: hsl(228, 12%, 48%);
--Cream: hsl(30, 38%, 92%);
--White: hsl(0, 0%, 100%);
}
body{
    background-color: var(--Cream);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
main{
    background-color: var(--White);
    width: 300px;
    padding: 37px 37px 38px 37px;
    height: 450px;
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
    
}
span{
    color: var(--Grey);
    display: block;
    font-family: sans-serif;
    letter-spacing:5px;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 20px;
}
main > h1{
    font-family: "Fraunces", serif;
    margin: 17px 0 25px 0;
    font-size: 43px;
    line-height: 0.9em;
    font-weight: 900;
}
img{
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
    width: 350px;
}
.texto{
    color: var(--Grey);
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    line-height: 1.6em;
    font-weight: 500;

}
.preco{
    display: inline-block;
    font-family: "Fraunces", serif;
    color: var(--Green-500);
    font-weight: 900;
    font-size: 35px;
    margin: 30px 25px 30px 0;
    vertical-align: middle;

}
.cortado{
    font-family: "Fraunces", serif;
    display: inline-flex;
    font-weight: 500;
    font-size: 15px;
    color: var(--Grey);
    text-decoration: line-through;
    vertical-align: middle;
     
}
.botao a {
    display: flex;
    background-color: var(--Green-500);
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: var(--White);
    width: 270px;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border-radius: 13px;
    transition: 0.3s;
    
    
}
