@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #c0bdb3,#d4ba93);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #99876b ;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #8F705B;
    text-align: center;
    text-shadow: 1px 1px 2px #685142b0;
}

h2{
    color: #707066;
}

p{
    text-align: justify;
}